<div class="scoreboard">
  <div class="cell" *ngFor="let frame of frames; let i = index">
    <div class="head">
      {{ i + 1 }}
    </div>
    <div class="body" [class.active]="currentFrameIndex === i">
      <div class="rolls">
        <div class="rolls_item">{{ frame.rolls[0] | rollType }}</div>
        <div class="rolls_item">
          {{ frame.rolls[1] | rollType: frame.rolls[0] }}
        </div>
        <div class="rolls_item" *ngIf="frame.isLastFrame">
          {{ frame.rolls[2] | rollType: frame.rolls[1] }}
        </div>
      </div>
      <div>{{ frameScores[i] }}</div>
    </div>
  </div>
  <div class="cell">
    <div class="head">Score</div>
    <div class="body">
      {{ totalScore }}
    </div>
  </div>
</div>
