.pins {
  margin-bottom: 4px;
  .pin {
    border: none;
    padding-top: 20px;
    margin: 4px;
    height: 60px;
    width: 60px;
    background: url("../../../assets/pin.svg") no-repeat center;
    background-size: 100%;
    cursor: pointer;

    &:disabled {
      opacity: 0.7;
    }
  }
}
